*{
    padding: 0px;
    margin: 0px;
    font-family: montserrat;

}

main{
    display: flex;

    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.title{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 40px;
    width: 100%;
    
}


.invitation-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.data{
     width: 180px;
     padding: 10px;
     background: #bd8459;
     color: white;
     font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    border-radius: 30px;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 300px;
    border:  1px solid #cbab96;
    border-radius: 15px;
    box-shadow: 15px 15px 15px #d4d3d0;
}

.card:hover{
    transition: 0.5s;
    transform: scale(1.02);
}

.card>img{
    display: flex;
    width: 300px;
    border-radius: 15px 15px 0px 0px;
}
.card>p{
    padding: 10px;
}


.place{
    gap: 5px;
}

.place-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 250px;
    background-size: 100%;
}
.church{
    background-image: url(church1.jpg);
}
.cafe{
    background-image: url(cafe.webp);
}
.place-content{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 150px;
    background-color: white;
}

.color, .feedback, .place{
    background-color: #e7dad0;
}

.color-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.colors{
    display: flex;
    justify-content: center;
    gap: 2px;
}

.colors-card{
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: #321608;
}
.colors-card:nth-child(2){
    background-color: #cbab96;
}
.colors-card:nth-child(3){
    background-color: #e8d7bb;
}
.colors-card:nth-child(4){
    background-color: #632c0e;
}
.colors-card:nth-child(5){
    background-color: #7f4b23;
}


.plan{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px
}

.plan-item{
    width: 300px;
    display: flex;
    align-items: center;
    gap:20px;
    border:solid #bd8459 2px;
    border-radius: 30px;
  
}
.plan-item>span{
    color: white;
    background-color: #bd8459 ;
    border-radius: 28px;
    padding: 30px;
}



.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:15px
}
.form input{
    padding: 15px;
    border:solid #bd8459 2px;
    border-radius: 30px
}
.checkbox{
    accent-color: #bd8459;
}


.timer {
  display: flex;
  gap:5 px;
  font-size: 3rem;
  justify-items: center;
  justify-content: center;
}

.timer__item {
  position: relative;
}

.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  bottom: -0.75rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.875rem;
  color: #424242;
}