*{
    padding: 0px;
    margin: 0px;
}

main{
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
}

.invitation{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 40px;
}
.invitation-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 300px;
    border:  1px solid black;
    box-shadow: 5px 5px 5px grey;
}

.card:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

.card>img{
    display: flex;
    width: 300px;
}
.card>p{
    padding: 10px;
}